
* {
  font-family: 'Roboto', sans-serif;
}
p{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.app {
  min-height: 100vh;
  
  .sections {  
    width: 100%;    
    padding-top: 80px;
    scroll-behavior: smooth;
    
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
   
}

}
